{% extends "base.html" %}
{% block page_content %}

<div class="container container-fluid"  >

<div class="border border-light">

	h3 class="panel-title"><font face="Tahoma" color="red">Error 500</font></h3>
  </div>
	<div class="card rounded">
		<div class="card-body">
  		<div class="row">
  		<div class="col-md-6">
          <h1>Internal Server Error </h1>
          <br />
          <p>The web Application is returning an internal error for the page you requested due to app malfunction.<p>
           If you're a site visitor,  Nothing you can do at the moment. If you need immediate assistance, please send me an email(<a href="mailto:imosudi@gmail.com">imosudi@gmail.com</a>).</p>
            I apologize for any inconvenience.. Use your browsers <b>Back</b> button to navigate to the page you have previously come from</p>
          <p><b>Or you could just press this neat little button:</b></p>
          <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me to App Home</a>
          </div>
          <div class="col-md-6"><img class="img-fluid" src="static/images/note-error.jpeg" style="height:30px"></div>

</div></div></div>

{% endblock %}

class="jumbotron border border-primary rounded" style="height:500px;margin-top: 10px;margin-bottom: 10px; margin-right:1%;margin-left:1%;"
